@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFE6E4;
  font-size: 18px;
  color: #533738;
}

.header {
  background-image: url("img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 715px;
}

.header__menu {
  margin-left: 100px;
  margin-right: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 50px;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.menu__telephone {
  text-decoration: none;
  color: #533738;
  font-size: 18px;
  margin-left: 40px;
}

.logo__img {
  width: 25px;
  height: 25px;
}

.logo__heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  text-decoration: none;
  color: #533738;
  font-size: 18px;
  margin-left: 30px;
}

.navigation__link:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #ecacac;
}

.visually-hidden {
  display: none;
}

.promo__wrapper {
  margin-top: 100px;
  margin-left: 180px;
}

.promo__heading {
  font-size: 50px;
  max-width: 500px;
}

.promo__description {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 420px;
  line-height: 30px;
}

.promo__link {
  text-decoration: none;
  font-size: 20px;
  color: #533738;
  background-color: #CC8B86;
  padding: 25px 65px 25px 65px;
}

.promo__link:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: whitesmoke;
}

.results {
  background-color: #8D7370;
  padding: 100px 50px 100px 50px;
}

.results__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.results__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.results__number {
  font-size: 50px;
  color: white;
}

.results__text {
  font-size: 30px;
  color: white;
}

.about__heading {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 180px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about__img {
  width: 444px;
  height: 465px;
}

.about__description {
  max-width: 520px;
  margin-left: 60px;
}

.about__text {
  line-height: 30px;
  margin-bottom: 30px;
}

.portfolio {
  margin: 60px auto;
  width: 1200px;
}

.portfolio__heading {
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

.portfolio__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr 5fr;
      grid-template-columns: 5fr 2fr 5fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  max-width: 1200px;
  max-height: 940px;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-1 {
  max-width: 700px;
  max-height: 450px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.card-2 {
  max-width: 700px;
  max-height: 450px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.card-3 {
  max-width: 700px;
  max-height: 450px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.card-4 {
  max-width: 700px;
  max-height: 450px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.team {
  background-color: #E2C4BA;
}

.team__heading {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__img {
  width: 320px;
  height: 253px;
}

.team__description {
  max-width: 320px;
  line-height: 30px;
  margin-top: 10px;
}

.workflow {
  background-color: #E2C4BA;
}

.workflow__heading {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

.workflow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding-bottom: 100px;
}

.workflow__item {
  max-width: 300px;
}

.workflow__item::before {
  counter-increment: li;
  content: counter(li);
  min-width: 70px;
  min-height: 70px;
  background-color: #8d7370;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.workflow__text {
  text-align: center;
  line-height: 30px;
}

.reviews__heading {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__control {
  border-radius: 50%;
  background-color: #CC8B86;
  height: 72px;
  width: 72px;
  border: none;
  margin-left: 40px;
  margin-right: 40px;
}

.slider__control:hover {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #dab9b9;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__text-wrapper {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  margin-top: 100px;
}

.slider__text {
  line-height: 30px;
  margin-bottom: 30px;
}

.slider__text:last-child {
  text-transform: uppercase;
}

.slider__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__img {
  width: 408px;
  height: 279px;
  margin-bottom: 20px;
}

.callback {
  color: white;
  background-color: #8D7370;
  max-height: 624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 180px;
}

.callback__heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.callback__form-wrapper {
  margin-left: 180px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.callback__text {
  color: #D1C7C6;
  margin-bottom: 60px;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback__input {
  margin-bottom: 35px;
  border: none;
  border-bottom: solid white 1px;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #F6EDE9;
  font-size: 18px;
}

.callback__input::-webkit-input-placeholder {
  padding: 20px;
  color: #F6EDE9;
  font-size: 18px;
  font-family: Montserrat;
}

.callback__input:-ms-input-placeholder {
  padding: 20px;
  color: #F6EDE9;
  font-size: 18px;
  font-family: Montserrat;
}

.callback__input::-ms-input-placeholder {
  padding: 20px;
  color: #F6EDE9;
  font-size: 18px;
  font-family: Montserrat;
}

.callback__input::placeholder {
  padding: 20px;
  color: #F6EDE9;
  font-size: 18px;
  font-family: Montserrat;
}

.callback__submit {
  border: none;
  font-size: 20px;
  color: #533738;
  background-color: #CC8B86;
  width: 310px;
  padding: 25px 65px 25px 65px;
  margin-top: 20px;
}

.callback__submit:hover {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: whitesmoke;
}

.callback__map-wrapper {
  margin-left: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px 0px 30px 0px;
}

.footer__telephone {
  margin-right: 40px;
  text-decoration: none;
  color: #533738;
  font-size: 18px;
}

.footer__address {
  margin-right: auto;
  font-style: normal;
  font-size: 18px;
}

.footer__company {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */